.idea
venv/
.coverage
__pycache__/
*/__pycache__/
mainHP/__pycache__/
mainHP/settings/__pycache__/
main/__pycache__/
transfacils/__pycache__/

static

.pytest_cache
.coverage
mainHP/.pytest_cache
mainHP/.tox
mainHP/.coverage

db.sqlite3
*/migrations/
.env/production
