SECRET_KEY='1o1o1o1o1o1o1o1o1o1o1o1o1o1o1o'
DB_NAME='xxxx_db'
DB_USER='user'
DB_PASS='password'
DB_HOST='db.com'
# 捨て垢を使う.
CK='izMx3kLZonFOELyNv4DG1SW0Z'
CS='bc35L3d2ZMr5OWFEyD94j0aPqo830mjnkHDhXpjYvWWzNLz0Lk'
AT='942329320776675330-KOGMi9CBAfqTHu9gVReW8pGzDkiNdHN'
AS='tW2rVqylxrUHhWCRPBLaW3CrWWrMh2tTDYJijJi0NNOHl'